name: Sprawdz tworzenie kontenera 

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Sprawdz repozytorium
        uses: actions/checkout@v4

      - name: Zbuduj obraz dockerowy 
        run: docker build -t spring-boot-app .
        
  docker-compose:
    runs-on: ubuntu-latest
    needs: docker-build 

    steps:
      - name: Sprawdz repozytorium  
        uses: actions/checkout@v4

      - name: Zbuduj aplikajce dockerowa 
       run: docker compose up -d --build
       
       - name: Check running containers
        run: docker ps -a
